/* Style and layout inspired by https://startbootstrap.com/previews/freelancer */

$font-stack: Arial, Helvetica, sans-serif;
$primary: #f3f3f3;
$secondary: #303e4f;
$tertiary: #508aab;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    font: 100% $font-stack;
    color: $secondary;
    background-color: $primary;
    text-align: center;
    letter-spacing: 1px;
    margin: 0 auto;
    overflow-x: hidden;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5em;
    scroll-margin-top: 5em;

    h1 {
        margin: 0;
        font-size: 3em;
    }

    h2 {
        margin: 0;
        font-size: 2em;
    }

    p,
    ul {
        font-size: 20px;
        line-height: 28px;
        margin: 0;
    }

    li {
        padding-top: 1em;
    }
}

section:nth-of-type(odd) {
    color: $primary;
    background-color: $tertiary;
}

#navbar {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary;
    background-color: $secondary;
    padding: 60px 20px;
    transition: 0.3s;

    a {
        color: $primary;
        text-decoration: none;
        font-weight: bold;
        padding: 0 20px;
        font-size: 2em;
        transition: 0.3s;
    }

    div {
        width: fit-content;
        padding: 0 20px;

        a {
            color: $primary;
            text-decoration: none;
            font-weight: bold;
            padding: 20px;
            font-size: 1.5em;
            transition: 0.3s;
        }

        a:hover {
            color: $tertiary;
        }

        .active {
            color: $primary !important;
            background-color: $tertiary;
            border-radius: 12px;
        }
    }
}

.shrink {
    padding: 30px 20px !important;

    a {
        font-size: 1.5em !important;
    }

    div {
        a {
            font-size: 1em !important;
        }
    }
}

.divider {
    width: 350px;
    height: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0 3em;
}

.divider-line {
    background-color: $primary;
    width: 100%;
    height: 0.25em;
    border-radius: 0.25em;
    margin: 1em;
}

.dark {
    span {
        color: $secondary;
    }
    .divider-line {
        background-color: $secondary;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 850px;
    height: 78vh;
    visibility: hidden;
    position: fixed;
    z-index: 300;
    border: 3px solid $secondary;
    border-radius: 20px;
    background: $primary;
    padding: 16px;
    padding-bottom: 20px;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: auto;

    p {
        padding: 0 1.5em;
        padding-bottom: 1em;
        font-size: 22px !important;
    }
}

.modal-content {
    overflow-y: scroll;
    margin: 2em 1em;
    height: 95%;
    padding-right: 1em;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $primary;
        border: 1px solid $secondary;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: $secondary;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $tertiary;
    }
}

.close {
    color: $secondary;
    float: right;
    font-size: 2em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: $tertiary;
    text-decoration: none;
    cursor: pointer;
}

.carousel {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    padding: 0 1em;
    padding-bottom: 2em;

    .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0;
        height: 386px;
        transition: flex 0.3s;
        overflow: hidden;

        img,
        video {
            width: 100%;
            border-radius: 20px;
        }
    }

    .slide:nth-child(2) {
        flex: 1;
    }

    i {
        cursor: pointer;
    }

    .prev {
        margin-left: -0.5em;
        margin-right: 0.5em;
    }

    .next {
        margin-right: -0.5em;
        margin-left: 0.5em;
    }
}

#home {
    padding-top: 11em;
    margin-top: 0;
    background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url("../assets/skyline.webp"), url("../assets/skyline-blurred.png");
    background-repeat: no-repeat;
    background-position: 50% -25vh;
    background-size:
        200vw 200vh,
        auto,
        100vw 100vh;
    background-attachment: fixed;

    img {
        border-radius: 50%;
        width: 280px;
        margin-bottom: 2em;
    }
}

#overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;
    position: fixed;
    z-index: 200;
    background: black;
    opacity: 0%;
    transition: opacity 0.2s ease-in-out;
}

#projects {
    .projects {
        margin: 1em;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 2em;
    }

    .overview {
        width: 180px;
        height: 180px;
        border: 3px solid $secondary;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.3s;

        img {
            width: 35%;
        }

        h3 {
            margin: 0.5em;
        }

        p {
            margin: 0;
            font-size: 18px;
        }
    }

    .overview:hover {
        cursor: pointer;
        width: 200px;
        height: 200px;
    }
}

#about {
    .row {
        gap: 2em;
        text-align: left;
    }

    .content > p {
        margin-top: 3em;
    }
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    font-size: 24px;
    margin-top: 2em;

    label {
        margin-bottom: 1em;
    }

    *:not(label) {
        width: 700px;
        margin-bottom: 2em;
        font-size: 30px;
        border: none;
        border-bottom: 3px solid $secondary;
        background-color: $primary;
    }

    *:focus {
        outline: none;
    }

    input[type="submit"] {
        width: fit-content;
        padding: 1em;
        font-size: 20px;
        border-radius: 10px;
        border: solid;
        color: $primary;
        background-color: $secondary;
    }

    input[type="submit"]:hover {
        background-color: $tertiary;
        cursor: pointer;
    }
}

#footer {
    color: $primary;
    background-color: $secondary;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5em;

    div {
        width: 100%;
    }

    p {
        font-size: 18px;
    }

    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary;
            text-decoration: none;
            border: 2px;
            border-style: solid;
            border-radius: 100%;
            width: 2.5em;
            height: 2.5em;
            transition: 0.3s;
        }

        a:hover {
            color: $secondary;
            background-color: $primary;
        }
    }
}
